@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500&display=swap');

/*---VARIABLES GLOBALES-->*/
:root {
    --color-yelow: #FFC107;
    --color-semiBlack: #121212;
    --color-BajoSubtitulos: #D9D9D9;
    --color-seccionW: rgb(216, 216, 216, .34);
    --color-somos: rgb(217,217,217,.50);
}

*{
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: var(--color-seccionW) !important;
}


label{
    color: var(--color-yelow);
}

/*----------ESTILOS HEADER---------
#header{
    padding-top: 3%;
}*/

/*------------ESTILOS INICIO SLIDER ------*/
.carousel-item-inicio {
    background-size: cover;
    background-position: center;
}

.carousel-caption{
    position: absolute;
    top: 30%;
}

.carousel-caption h1{
    /*font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    padding-bottom: 1rem;*/
    font-size: 3.3rem;
    text-shadow: .1rem .1rem .8rem black;
}

.carousel-caption p{
    font-size: 1.3rem;
    color: var(--color-BajoSubtitulos);
    text-shadow: .1rem .1rem .8rem black;
}

/*--- COLOR GENERAL SECCION --*/

.subtitulos-bajoB{
    color:var(--color-semiBlack) ;
}

/*----SECION PRODUCTOS--*/
.img-producto{
    border-radius: 2em !important;
}
.card{
    border-radius: 2em !important;
}


/*----SECION SERVICIOS--*/
.bg-card-servicios{
    background-color: var(--color-somos) !important;
}



/*----------ESTILOS FRASE----------*/
.parallax-window .card-body{
    padding: 6rem 3rem 6rem 3rem;
}

.text-frase{
    text-shadow: .1rem .1rem .8rem black;
}

hr{
    height: 4px !important;
}



/*------------ESTILOS CONOCENOS-----*/
.img-nosotros{
    margin-top: 20%;
}

.quienes{
    background-color: var(--color-somos);
    border-radius: 50px;
}

.bg-sobrenosotros{
    background-color: var(--color-seccionW);
}


/*----------ESTILOS PARA LA SECCION MARCAS------*/
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 8));
              transform: translateX(calc(-250px * 8));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 8));
        transform: translateX(calc(-250px * 8));
    }
}
.slider {
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
    height: 160px;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before, .slider::after {
    /*background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);*/
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 200);
}

.slider .slide {
    height: 50px;
    width: 250px;
}

/*----------ESTILOS PARA SECCION COTIZACION-------*/
.form-control {
    border-radius: 15px !important;
}

/*----------ESTILOS PARA LA SECCION DE CONTACTO----*/
.a-contacto{
    padding: 3rem !important;
    margin-top: 1rem !important;
    margin-bottom: 1.5rem !important;
}

.a-contacto a:link, a:visited, a:active, a:hover {
    text-decoration: none !important;
    color: #121212 !important;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:70%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/*---------ESTILOS PARA BOTON SUBIR RAPIDAMENTE----*/
.go-top-container {
    position: fixed;
    bottom:2.3rem;
    right: 2.3rem;
    width: 1rem;
    height: 1rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: var(--color-yelow);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: 80%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i {
    position: absolute;
    font-size: 1.3rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: 0.2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup 0.3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}


/*---------ESTILOS FOOTER--------*/
.bg-footer{
    background-color: rgba(39, 37, 31);
}


/*----COLOR MENSAJE--*/
.alertify-notifier .ajs-message.ajs-success {
    color: #fff;
    background: var(--color-semiBlack) !important;
    text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}



/*MEDIA QUERYS*/
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    /*------------ESTILOS INICIO SLIDER ------*/
    .carousel-item-inicio{
        height: 50vh;
    }
    .carousel-caption{
        position: absolute;
        top: 20%;
    }
    .carousel-caption p{
        font-size: .9rem;
    }
    .carousel-caption h1{
        font-size: 1.9rem;
    }
    .carousel-caption a{
        font-size: .9rem;
    }
    .carousel-caption .text-RIO{
        letter-spacing: 0px;
    }

    /*------ESTILOS PARA LOS TITULOS DE CADA SECCION----*/
    .lead {
        font-size: 1rem !important;
    }

    h2{
        font-size: 1.7rem !important    ;
    }

    /*----------ESTILOS FRASE----------*/
    .card-body h1{
        font-size: 1.5rem;
    }
    .card-body p{
        padding-top: 1rem;
    }
    .card-body p a{
        font-size: .9rem;
    }

    /*---------CONOCENOS-------------*/
    hr{
        width: 31% !important;
    }

    /*----------ESTILOS PARA LA SECCION DE CONTACTO----*/

    .a-contacto{
        padding: 2rem !important;
        margin-top: .5rem !important;
        margin-bottom: 1rem !important;
    }

    .a-contacto p{
        font-size: .8rem !important;
    }

}

@media (min-width: 576px) {
    /*------------ESTILOS INICIO SLIDER ------*/
    .carousel-item-inicio {
        height: 90vh;
    }
    .carousel-caption .text-RIO{
        letter-spacing: 0px;
    }

    /*----------ESTILOS FRASE----------*/
    .card-body p{
        padding-top: 3rem;
    }

    /*---------CONOCENOS-------------*/
    hr{
        width: 25%;
    }
}


/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    /*---------CONOCENOS-------------*/
    hr{
        width: 18%;
    }

 }
@media (min-width: 768px) {
    hr{
        width: 15%;
    }

 }

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

 }
@media (min-width: 992px) { 
    .carousel-caption .text-RIO{
        letter-spacing: 5px;
    }
    /*---------CONOCENOS-------------*/
    hr{
        width: 18%;
    }

    /*----------FORMULARIO COTIZACION--------*/
    .cotizacion{
        padding: 0rem 15rem 0rem 15rem; 
        margin: 0rem;
    }

    /*----------SECCION CONTACTO-----------*/
    
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { }
@media (min-width: 1200px) { }
