@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

/*.main-header{
    background: url(../img/Transicion\ 0.jpg);
    background-position:center left;
    background-size: cover;
}

.background-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}*/

.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption{
    bottom: 220px;
}
